mixin apartment-desc($room, $area)
	.apartment-desc&attributes(attributes)
		+title('Описание квартиры')
		._col
			._room= $room
			._label комнатная
		._col
			._area= $area
			._label Общая площадь
		button._button Интересуюсь квартирой