.apartment-desc
	display: flex
	flex-direction: column
	align-items: center
	
	&__col
		text-align: center
		margin-top: 20px

	&__room, &__area
		color: #01a0e2
		font-size: 40px
		font-weight: 700

	&__label
		color: #01a0e2
		font-size: 12px
		font-weight: 700
		margin-top: 5px

	&__button
		display: inline-block
		color: #fff
		font-size: 12px
		font-weight: 700
		text-decoration: none
		background-color: #e05f00
		padding: 10px 15px
		margin-top: 20px
